@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 3px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #feba5b;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}